.body.admin{
  display: flex;
  flex-direction: row;
}
.admin-sidebar{
  width: 190px;
  position: relative;

  .header{
    .dashboard-label{
      padding: 8px 15px;
      background-color: $primary-color;
      display: block;
      font-weight: 700;
      color: #fff;

    }
  }
  .fa{
    margin-right: 10px;
  }
  .sidebar-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;

    li{
      a{
        padding: 9px 15px;
        display: block;
        @include transition(0.3s);
      }
      a:hover{
        background-color: #f8f8f8;
      }
    }
  }

  a{
    color: #2c2c2c;
  }
}
.admin-sidebar:after{
  content: '';
  display: block;
  width: 190px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: #fff;
  box-shadow: 2px 0 10px rgba(#000, 0.1);
}
#admin-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 190px;
  padding: 5px 15px;
  background-color: #fff;
  font-size: 13px;
  border-top: solid 1px #eee;
}

@media (max-width: 767px) {
  .body.admin{
    display: inherit;
  }
  .admin-sidebar{
    width: 100%;
    background-color: #fff;

    .sidebar-menu{
      li{
        a{
          padding: 15px;
          font-size: 14px;
        }
      }
    }
  }
  .admin-sidebar:after{
    display: none;
  }

  #admin-footer{
    position: relative;
    left: unset;
    bottom: unset;
    z-index: 1;
    width: 100%;
    color: #fff;
    font-size: 14px;
    background-color: #2c2c2c;
  }
}