.body.admin{
  display: flex;
  flex-direction: row;

  .main-body{
    background: none ;
    width: calc(100% - 190px);
    padding: 0;
  }
}

.admin-sidebar{
  width: 190px;
  position: relative;

  .header{
    .dashboard-label{
      display: block;
      padding: 15px 15px;
      /*border-bottom: solid 1px #eee;*/
      margin-bottom: 15px;
    }
  }
  .fa{
    margin-right: 10px;
    display: inline-block;
    width: 18px;
  }
  .sidebar-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;

    li{
      a{
        padding: 9px 15px;
        display: block;
        @include transition(0.3s);
      }
      a:hover{
        background-color: #f8f8f8;
      }
    }
  }

  a{
    color: #2c2c2c;
  }
}
.admin-sidebar:after{
  content: '';
  display: block;
  width: 190px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: #fff;
  box-shadow: 2px 0 10px rgba(#000, 0.1);
}
#admin-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 190px;
  padding: 5px 15px;
  background-color: #fff;
  font-size: 13px;
  border-top: solid 1px #eee;
}

.admin-section{
  .section-header{
    display: block;
    padding-bottom: 5px;
    margin-bottom: 30px;
    h2{
      color: #999999;
      font-weight: bold;
    }
  }

  .section-body:hover{
    .section-title{
      border-color: $primary-color;
      color: $primary-color;
    }
  }

  .section-body{
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 7px #d0d0d0;
    margin-bottom: 10px;

    .section-title{
      color: $dark-primary-color;
      font-weight: 700;
      border-bottom: solid 2px #eee;
      cursor: pointer;
      @include transition(0.5s);
    }

    .collapse{
      margin-top: 30px;
    }

      label{
        display: block;
        color: $primary-color;
      }
      .form_input{
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #eee;
        margin-bottom: 20px;
      }
    textarea.form_input{
      resize: none;
      height: 180px;
    }

    .file_input{
      display: inline-block;
      width: auto;
      background-color: $primary-color;
      cursor: pointer;
      color: #eee;
      padding: 10px 15px;
      @include transition(0.3s);
    }
    .file_input:hover{
      background-color: darken($primary-color, 8%);
    }
  }
}

.checkbox{
  margin: 0;
  padding: 10px 15px;
  background-color: #eee;
  color: #999 !important;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.wickedpicker__title{
  display: none;
}
.wickedpicker{
  height: auto;
  width: auto;
}
.old_checkbox{
  font-weight: normal;
  color: inherit !important;
  padding: 5px;

  input{
    margin: 0;
  }
}

select.form_input{
  padding: 0 5px !important;
  option{
    padding: 10px;
  }
}
.bootstrap-tagsinput {
  width: 100%;
  height: 120px;
  padding: 10px;
  border: none;
  border-radius: 0;
  background-color: #eee;
  margin-bottom: 20px;
}
.checkbox.checked{
  background-color: $primary-color;
  color: #fff !important;
}
.checkbox::selection{
  background: none;
}
.label-info{
  background-color: $primary-color;
}
.label{
  padding: 5px 15px;
  font-size: 100%;
}

.form-footer{
  border-top: solid 2px #eee;
  padding: 15px 0;
  margin-top: 25px;

  .btn{
    border-radius: 0;
    border: none;
  }
  .btn-success{
    background-color: $primary-color;
  }
  .btn-success:active{
    background-color: darken($primary-color, 10%);
  }
}
@media (max-width: 767px) {
  .body.admin{
    display: inherit;

    .main-body{
      width: 100%;
    }
  }
  .admin-sidebar{
    width: 100%;
    background-color: #fff;

    .sidebar-menu{
      li{
        a{
          padding: 15px;
          font-size: 14px;
        }
      }
    }
  }
  .admin-sidebar:after{
    display: none;
  }
  #admin-footer{
    position: relative;
    left: unset;
    bottom: unset;
    z-index: 1;
    width: 100%;
    color: #fff;
    font-size: 14px;
    background-color: #2c2c2c;
  }
}