html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
select{
  width: 100%;
  border:  solid 2px $gray-2;
  padding: 5px 10px;
  height: 40px;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: $roboto;
  background-color: $gray-0;
}

a:hover, a:focus{
  text-decoration: none !important;
}
a{
  color: $gray-6;
}
*, *:focus, *:active{
  outline: none !important;
}
.search_bar{
  background-color: $gray-5;
  padding: 15px 0;

  form{
    padding: 15px;
    background-color: $gray-6;


    $input_height: 60px;
    $input_font_size: 13px;
    .form_input{
      display: flex;
      height: $input_height;
      background-color: #fff;
      width: 100%;
      border: none;
      font-size: $input_font_size;

      input[type = text]{
        border: none;
        flex-grow: 5;
        padding: 5px 10px;
      }
      label{
        margin: 0;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        input{
          margin: 0;
        }
      }
    }
    .col-sm-6{
      position: relative;
      .check-button{
        color: #fff;
        background-color: $gray-5;
      }

    }

    .submit_button{
      border-radius: 0;
      font-size: $input_font_size;
      font-weight: 700;
      letter-spacing: 0.5px;
      color: #fff;
      background-color: $gray-2;
      height: $input_height;
      cursor: pointer;
    }
  }
}

.navbar.fixed{
  form{

    $input_height: auto;
    $input_font_size: 13px;
    .form_input{
      display: flex;
      height: $input_height;
      background-color: #fff;
      width: 100%;
      border: none;
      font-size: $input_font_size;

      input[type = text]{
        border: none;
        flex-grow: 5;
        padding: 5px 10px;
      }
      label{
        margin: 0;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        input{
          margin: 0;
        }
      }
    }
    .col-sm-5,
    .col-sm-6,
    .col-sm-7{
      position: relative;
      .check-button{
        color: #fff;
        background-color: $gray-5;
      }

    }

    .submit_button{
      border-radius: 0 50px 50px 0;
      font-size: $input_font_size;
      font-weight: 700;
      padding-top: 4px;
      padding-bottom: 4px;
      color: #fff;
      background-color: $gray-2;
      height: $input_height;
      cursor: pointer;
    }
  }

  form > .row{
    margin-left: -1px;
    margin-right: -1px;

    .col-sm-7,
    .col-sm-5,
    .col-sm-2{
      padding: 1px;
    }
  }
}
/*
end of search bar
*/



.categories_carousel{
  padding: 15px;
  background-color: #fff;
  margin: 15px 0;

  .carousel{
    margin: 0;
    padding: 0;
  }
  .slick-prev:before,.slick-next:before{
    color: $gray-4;
  }

  .category{
    text-align: center;

    .fa{
      font-size: 25px;
      line-height: 60px;
      background-color: $gray-2;
      color: $gray-4;
      display: inline-block;
      height: 60px;
      width: 60px;
      border-radius: 100%;
      margin-bottom: 8px;
    }

    .category_name{
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
    }
  }
}
/*
end of categories carousel
*/

.body{
  .main-body{
    padding: 15px;
    background-color: #fff;

    .section{
      border-bottom: solid 1px $gray-1;
      padding-bottom: 20px;
      .section-header{
        position: relative;
        overflow: hidden;
        margin-bottom: 15px;

        .section-title{
          font-weight: 700;
        }

        .slider-controls{
          float: right;
          margin-top: 10px;
          span{
            display: inline-block;
            height: 35px;
            width: 35px;
            font-size: 12px;
            line-height: 35px;
            background-color: $gray-2;
            cursor: pointer;
            font-family: "FontAwesome", sans-serif;
            text-align: center;
            color: $gray-4;
            @include transition(0.3s);
          }
          span:hover{
            background-color: $gray-3;
            color: #fff;
          }
          .prev:after{
            content: '\f053';
          }
          .next:after{
            content: '\f054';
          }
        }
      }
      //end of section header

    }
    .popular-tags{
      .section-body{
        list-style: none;

        .popular-tag{
          display: inline-block;
          vertical-align: top;
          width: 30%;
          font-size: 12px;
          position: relative;
          a{
            display: block;
            color: $gray-4;
            padding: 2px;
          }
        }
        .popular-tag:before{
          content: '\f105';
          font-family: "FontAwesome", sans-serif;
          position: absolute;
          left: -8px;
          top: 2px;
        }
      }
    }
    //end of section

    .section.section-slider{
      .section-title{
        float: left;
        position: relative;
        small{
          position: absolute;
          left: 0;
          bottom: -12px;
          font-size: 13px;

        }
      }
      .section-body{
        padding: 0;

        .articles{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          a{
            position: relative;
            width: 50%;
            padding: 0 1%;
            margin-bottom: 30px;

            .article_picture_frame{
              position: relative;
              width: 100%;
              height: 200px;
              overflow: hidden;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .article_title{
              color: $gray-6;
              font-weight: 700;
              margin-top: 5px;
            }

            .article_location,
            .annonceur{
              color: $gray-4;
              font-size: 13px;
            }
            .annonceur{
              font-weight: 700;
            }

            .article_abstract{
              font-size: 12px;
              color: $gray-4;
              height: 100px;
              overflow: hidden;
            }
            .event_date{
              background-color: $gray-5;
              color: $gray-0;
              padding: 2px 10px;
              display: inline-block;
              text-align: center;
              text-transform: uppercase;
              font-weight: 700;
              position: absolute;
              top: 30px;
              left: 0;
              z-index: 2;

              .date{
                float: left;
                margin: 0 5px;
              }

              .day{
                display: block;
                border-bottom: solid 2px $gray-0;
                font-size: 16px;
              }
              .month{
                font-size: 10px;
              }
            }
            $width: 6px;
            .event_date:before{
              content: '';
              display: inline-block;
              width: $width;
              height: $width;
              border: solid $width transparent;
              border-left: solid $width $gray-2;
              position: absolute;
              left: 3px;
              bottom: -6px;
              z-index: 1;
              @include transform(rotate(-45deg));
            }
          }
        }
        /*end of articles*/

        .top-category{
          text-align: center;
          a{
            display: inline-block;
            padding: 15px;
            position: relative;

            .top_category_picture_frame{
              overflow: hidden;
              height: 140px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .top_category_name{
              margin: 10px 0;
              text-transform: uppercase;
              font-weight: 700;
              color: $gray-5;
            }
          }
        }
        //end of top-categories
      }
    }
    //end of section-slider

    .publicite{
      text-align: center;
      background-color: $gray-2;
      padding: 15px 0;
      margin: 15px 0;

      .placeholder{
        height: 130px;
        width: 80%;
        margin: 0 auto;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        line-height: 130px;
        background-color: $gray-4;
      }
    }
  }
}

.page-banner{
  background-size: cover;
  background-position: center center;

  .container{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .page-title{
      margin: 0;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      padding: 70px 0;
      font-size: 25px;

      small{
        text-transform: none;
        color: $gray-1;
      }
    }
    .categorie{
      display: block;
      font-size: 14px;
      font-weight: normal;
      font-style: italic;

      .fa{
        display:  inline-block;
        margin-right:  5px;
        width: 25px;
        padding: 5px 0;
        text-align: center;
        background-color: $gray-1;
        color: $gray-5;
        border-radius:  100%;
      }
    }
  }
}

.pagination{
  overflow: hidden;
  margin: 0;
  width: 100%;
  position: relative;

  .page-list{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;

    li{
      float: left;

      a,
      span{
        padding: 7px 10px;
        display: block;
        margin: 0 2px;
        color: $gray-4;
        @include transition(0.3s);
      }
      a:hover{
        background-color: $gray-1;
      }
    }
  }
}
.video-player{
  background-color: $gray-6;
  text-align: center;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .play-button{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: #fff;
    background-color: rgba($gray-6,0.4);
    @include transition(0.3s);
  }
  .play-button:after{
    content: '\f01d';
    font-family: "FontAwesome", sans-serif;
    font-size: 7em;
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
    @include transition(0.3s);
  }
  .play-button:hover:after{
    font-size: 6em;
  }
}
.blank{
  margin-bottom: 20px;
}
.contact-list-icons{

}