header{
  background-color: #eceef7 ;

  #top-nav-menu{
    overflow: hidden;
    font-size: 13px;
    color: $primary-text-color;
    padding: 10px 0;
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .nav-contact{
      float: left;
      li{
        float: left;
        margin-right: 15px;
      }
    }
    .nav-social-media{
      float: right;
      li{
        float: left;
        margin-left: 15px;
      }
    }
    $nav-social-icon-size: 22px;
    .social-icon{
      display: inline-block;
      font-size: 12px;
      width: $nav-social-icon-size;
      height: $nav-social-icon-size;
      line-height: $nav-social-icon-size;
      text-align: center;
      border-radius: 100%;
      background-color: $text-icons-color;
      color: $primary-color;
    }
    .button{
      padding: 5px 10px;
      color: $text-icons-color;
      background-color: $primary-color;
      border-radius: 3px;
      font-weight: 700;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
  #top-nav-menu.fixed{
    padding-bottom: 82px;
  }
  .nav>li>a:focus, .nav>li>a:hover{
    background-color: $light-primary-color;
    color: $text-icons-color;
  }
  .navbar{
    margin: 0;
    border: none;
    padding: 5px 0;
    font-size: 12px;
    border-radius: 0;

    .logo{
      margin-left: 5px;
    }

    .navbar-toggle{
      border: none;

      .fa{
        color: $gray-2;
        font-size: 16px;
      }
    }

    .navbar-nav{
      float: right;
    }

    a{
      color: $primary-color;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  .navbar.default{
    background-color: $text-icons-color;
  }
  .navbar.fixed{
    background-color: $gray-6;
    box-shadow: 0 5px 15px rgba($gray-6, 0.4);
    top: 42px;
    @include transition(0.3s);

    .searchbar-toggle{
      padding: 7px;
    }
    #searchbar-collapse{
      margin-top: 3px;
    }

    .navbar-header{
      float: left;
      //desktop
    }
    .navs{
      float: right;
      width: calc(100% - 160px);
      //desktop
      a{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
      }
      //desktop
    }
  }
  .navbar.attached{
    top: 0;
  }
}