#google-map{
  position: relative;
  height: 500px;
  #map{
    height: 500px;
    background-color: $gray-1;
  }
  .etablissements:hover{
    opacity: 1;
  }

  .etablissements{
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 100%;
    z-index: 100;
    opacity: 0.4;
    @include transition(0.3s);

    .controls{
      display: none;
      span{
        display: block;
        width: 100%;
        height: 40px;
        position: absolute;
        z-index: 101;
        background-color: rgba($gray-5,0.2);
        left: 0;
        cursor: pointer;
        font-family: "FontAwesome", sans-serif;
        text-align: center;
        color: #fff;
        line-height: 40px;
      }
      span:hover{
        background-color: rgba($gray-5,0.8);
      }
      .prev{
        top: 0;
        @include transition(0.3s);
      }
      .next{
        bottom: 0;
        @include transition(0.3s);
      }

      .prev:after{
        content: '\f077';
      }
      .next:after{
        content: '\f078';
      }
    }

    @media (min-width: 769px) and (max-width: 1365px) {
      .controls{
        span{
          display: block;
          width: 40px;
          left: auto;
          height: 102px;
          bottom: 0;
          line-height: 102px;
        }
        .prev{
          top: auto;
          left: 0;
        }
        .next{
          bottom: 0;
          right: 0;
        }
        .prev:after{
          content: '\f053';
        }
        .next:after{
          content: '\f054';
        }
      }
    }

    @media (min-width: 769px) {
      .controls{
        display: block;
      }
    }

    .etablissement{
      position: relative;
      background-color: $gray-2;
      overflow: hidden;
      margin: 1px 0;
      cursor: pointer;
      .photo_etablissement{
        float: left;
        margin-right: 8px;
      }
      .details_etablissement{
        font-size: 12px;
        margin-left: 5px;
        padding: 5px;

        .nom_etablissement{
          font-weight: 700;
          font-size: 13px;
          margin-bottom: 5px;
        }
        .quartier_etablissement{
          font-style: italic;
        }
      }
    }
  }
}

.autour_de_moi{
  .section-title{
    font-weight: 700;
  }
  #google-map{
    height: 350px;
    #map{
      height: 350px;
    }
  }
}