@media (max-width: 1365px) {
  #google-map{
    .etablissements{
      overflow: hidden;
      position: absolute;
      right: 0;
      top: auto;
      bottom: 0;
      width: 100%;
      height: 100px;
      opacity: 1;
      z-index: 100;

      .etablissement{
        position: relative;
        background-color: $text-icons-color;
        overflow: hidden;
        margin: 1px 0;
        cursor: pointer;
        .photo_etablissement{
          float: left;
          margin-right: 8px;
        }
        .details_etablissement{
          font-size: 12px;
          margin-left: 5px;
          padding: 5px;

          .nom_etablissement{
            font-weight: 700;
            font-size: 13px;
            margin-bottom: 5px;
          }
          .quartier_etablissement{
            font-style: italic;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar.fixed{
    form{
      $input_height: auto;
      $input_font_size: 13px;
      .col-sm-5,
      .col-sm-6,
      .col-sm-7{
        position: relative;
        .check-button{
          font-size: 0;
        }
      }
    }

    form > .row{
      margin-left: -1px;
      margin-right: -1px;

      .col-sm-7,
      .col-sm-5,
      .col-sm-2{
        padding: 1px;
      }
    }
  }
}
@media (max-width: 767px) {
  header{
    #top-nav-menu{
      .nav-contact{
        clear: both;
        margin-bottom: 10px;
        li{
          float: left;
          margin-right: 15px;
        }
      }
      .nav-social-media{
        float: left;
        li{
          float: left;
          margin-left: 15px;
        }
      }
      $nav-social-icon-size: 22px;
      .social-icon{
        font-size: 12px;
      }
      .button{
        padding: 5px 10px;
        border-radius: 3px;
        font-weight: 700;
        font-size: 11px;
        text-transform: uppercase;
      }
    }
    .navbar{
       margin: 0;
      .icon-bar{
        background-color: $gray-1;
      }
      .logo{
        margin-left: 15px;
      }
      .navbar-toggle{
        margin-top: 15px;
      }
       .navbar-nav{
         float: none;
       }
     }
    .navbar.fixed{
      /*position: relative;*/

      .navbar-header{
        float: none;
      }
      .navs{
        float: none;
        width: 100%;
        a{
          padding-top: 5px !important;
          padding-bottom: 5px !important;
        }
      }
    }
  }
  .search_bar{
    form{
      .form_input{
        flex-direction: column;
      }
    }
  }
  .navbar.fixed{
    form{
      $input_height: auto;
      $input_font_size: 13px;

      .form_input{
        display: block;

        input[type = text]{
          border: none;
          flex-grow: inherit;
          padding: 10px;
          width: 100%;
        }
        label{
          margin: 0;
          flex-grow: inherit;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          padding: 8px;

          input{
            margin: 0;
          }
        }
      }

      .submit_button{
        border-radius: 0;
        padding: 8px;
      }
    }

    form > .row{
      margin-left: -15px;
      margin-right: -15px;

      .col-sm-7,
      .col-sm-5,
      .col-sm-2{
        padding-left: inherit;
        padding-right: inherit;
      }
    }
  }
  .body{
    .main-body{
      .popular-tags{
        .section-body{
          .popular-tag{
            width: 45%;
            a{
              display: block;
              color: $gray-4;
              padding: 2px;
            }
          }
          .popular-tag:before{
            content: '\f105';
            font-family: "FontAwesome", sans-serif;
            position: absolute;
            left: -8px;
            top: 2px;
          }
        }
      }
      //end of section

      .section.section-slider{
        .section-title{
          float: left;
        }
        .section-body{
          padding: 0;

          .articles{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            a{
              position: relative;
              width: 50%;
              padding: 0 1%;
              margin-bottom: 15px;

              .article_picture_frame{
                position: relative;
                width: 100%;
                height: 200px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .article_title{
                color: $gray-6;
                font-weight: 700;
                margin: 5px 0 8px;
              }
              .article_abstract{
                font-size: 12px;
                color: $gray-4;
                height: 100px;
                overflow: hidden;
              }
            }
          }
          /*end of articles*/

          .top-category{
            text-align: center;
            a{
              display: inline-block;
              padding: 15px;
              position: relative;

              .top_category_picture_frame{
                overflow: hidden;
                height: 140px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .top_category_name{
                margin: 10px 0;
                text-transform: uppercase;
                font-weight: 700;
                color: $gray-5;
              }
            }
          }
          //end of top-categories
        }
      }
      //end of section-slider

      .publicite{
        text-align: center;
        padding: 15px 0;
        margin: 15px 0;

        .placeholder{
          height: 130px;
          width: 80%;
          margin: 0 auto;
          text-transform: uppercase;
          font-weight: 700;
          color: #fff;
          line-height: 130px;
          background-color: $gray-4;
        }
      }
    }
  }
  .page-banner{
    .container{
      .page-title{
        small{
          display: block;
        }
      }
    }
  }
  .login-page{
    margin: 0;

    .logo{
      display: none;
    }
    .col-md-3{
      padding: 40px 15px;
    }
    .registration-form{
      border-right: none;
      border-bottom: solid 2px $gray-1;
      margin-bottom: 50px;
    }
    .registration-form:after{
      right: 50%;
      bottom: -40px;
      top: auto;
      @include transform(translate(50%,-20px));
    }

    form{
      padding: 0 15px 30px;
      width: 100%;
      font-size: 13px;

      .form-title{
        margin-bottom: 50px;
      }

      label{
        display: none;
      }
      .form_input{
        display: block;
        width: 100%;
        border: none;
        border-bottom:  solid 2px $gray-2;
        height: 40px;
        padding: 5px;
        margin-bottom: 8px;
      }
      .form_input::-webkit-input-placeholder{
        color: $gray-5;
        font-weight: 700;
      }
    }
  }
  .page-404{
    .container{
      .content{
        width: 100%;
      }
      .h1{
        font-size: 6em;
      }
    }
  }
  .page-etablissement{
    .social-sharing{
      overflow: hidden;
      ul{
        list-style: none;
        overflow: hidden;
        float: left;

        li{
          float: left;
          margin: 5px;

          a{
            color: $gray-5;
            display: block;
            width: 35px;
            padding: 10px 0;
            text-align: center;
            background-color: $gray-1;
            border-radius: 100%;
            @include transition(0.3s);
          }
          a:hover{
            background-color: $gray-3;
            color: #fff;
          }
        }
      }
      .incdicateur_ouverture{
        float: right;
        padding: 5px 15px;
        border: solid 1px $gray-6;
        color: $gray-6;
        text-transform: uppercase;
        border-radius: 2px;
      }
    }
    .section{
      .logo_etablissement{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 225px;
        overflow: hidden;
      }
      .sub-section-title{
        font-weight: 700;
        color: $gray-5;
        margin-bottom: 10px;
      }
      p{
        font-size: 13px;
      }
      ul.contact{
        font-size: 13px;
        margin: 0;
        padding: 0;
        list-style: none;

        li{
          margin: 5px 0;
        }

        li:before{
          font-family: "FontAwesome", sans-serif;
          color: $gray-5;
          display: inline-block;
          width: 20px;
          text-align: center;
          margin-right: 15px;
        }
        li.telephone:before{  content: '\f095';  }
        li.email:before{  content: '\f1fa';  }
        li.website:before{  content: '\f0ac';  }
        li.facebook:before{  content: '\f09a';  }
        li.linkedin:before{  content: '\f0e1';  }
        li.twitter:before{  content: '\f099';  }
        li.instagram:before{  content: '\f16d';  }
      }

      ul.tags{
        list-style: none;
        font-size: 11px;
        li{
          display: inline-block;
          vertical-align: top;
          padding: 2px 10px;
          margin: 0 2px 5px 0;
          border-radius: 2px;
          border: solid 1px $gray-3;
          cursor: pointer;
          @include transition(0.3s);
        }
        li:hover{
          background-color: $gray-4;
          color: #fff;
        }
      }

      ul.horaires{
        font-size: 12px;

        .jour{
          display: inline-block;
          width: 100px;
        }
      }

      ul.paiements{
        font-size: 12px;
        li{
          display: inline-block;
          text-align: center;
          margin: 0 15px 5px 0;
        }
      }
    }
    .event_list{
      .article{
        position: relative;
        padding-left: 17px;
        padding-bottom: 30px;

        .article_picture_frame{
          height: 225px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 5px;
        }
        .event_date{
          padding: 2px 10px;
          display: inline-block;
          text-align: center;
          text-transform: uppercase;
          font-weight: 700;
          position: absolute;
          top: 15px;
          left: 0;
          z-index: 2;

          .date{
            float: left;
            margin: 0 5px;
          }

          .day{
            display: block;
            border-bottom: solid 2px $gray-0;
            font-size: 16px;
          }
          .month{
            font-size: 10px;
          }
        }
        .article_title{
          color: $gray-6;
          font-weight: 700;
          font-size: 13px;
        }
        .article_location,
        .annonceur{
          color: $gray-4;
          font-size: 13px;
        }
        .annonceur{
          font-weight: 700;
        }

        $width: 13px;
        .event_date:before{
          content: '';
          display: inline-block;
          width: $width;
          height: $width;
          border: solid $width transparent;
          border-left: solid $width $gray-2;
          position: absolute;
          left: 5px;
          bottom: -13px;
          z-index: 1;
          @include transform(rotate(-45deg));
        }
      }
    }
    .liste-etablissements{
      .col-sm-4{
        padding-left: 15px;
      }
    }
  }
}

@media (max-width: 640px){
  .body{
    .main-body{
      .section.section-slider{
        .section-body{
          .articles{
            display: block;

            a{
              .article_title{
                color: $gray-6;
                font-weight: 700;
                margin: 5px 0 8px;
              }
              .article_abstract{
                font-size: 12px;
                color: $gray-4;
                height: 100px;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 480px){
  #page-category{
    display: block;

    .category{
      width: 100%;
      margin: 0 0 10px;
      height: 200px;
    }
  }
}
