.custom-table{
  padding: 0 15px;
  .thead{
    border-bottom: solid 2px #eee;
    background-color: $primary-color;
    padding: 10px 15px;


    .th{
      font-weight: 700;
      color: #fff;
    }
  }
  .tbody{
    .tr{
      padding: 5px 15px;
      border-top: solid 1px #eee;
    }
    .tr:first-of-type{
      border: none;
    }
    .tr:nth-of-type(even){
      background-color: #f8f8f8;
    }
  }

  .checkbox.list{
    display: inline-block;
    border-radius: 2px;
    padding: 2px 5px;

    .fa{
      opacity: 0;
    }
  }
  .checkbox.list.checked{
    background-color: #eee;
    color: #393939 !important;
    .fa{
      opacity: 1;
    }
  }
}