.custom-table{
  .thead{
    border-bottom: solid 2px #eee;

    .th{
      padding: 10px;
      font-weight: 700;
    }
  }
  .tbody{
    .tr{
      .td{
        padding: 5px 10px;
      }
    }
    .tr:nth-of-type(even){
      background-color: #eee;
    }
  }
}