$gray-0: #f8f8f8;
$gray-1: #dfdfdf;
$gray-2: #b9b9b9;
$gray-3: #868686;
$gray-4: #666666;
$gray-5: #4d4d4d;
$gray-6: #333333;

$dark-primary-color: #2f3f9f;
$primary-color: #3e50b5;
$light-primary-color: #c5cae9;
$text-icons-color: #fff;
$accent-color: #ff5151;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

$roboto: 'Roboto', sans-serif;