html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

select {
  width: 100%;
  border: solid 2px #b9b9b9;
  padding: 5px 10px;
  height: 40px; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8; }

a:hover, a:focus {
  text-decoration: none !important; }

*, *:focus, *:active {
  outline: none !important; }

.search_bar {
  background-color: #4d4d4d;
  padding: 15px 0; }
  .search_bar form {
    padding: 15px;
    background-color: #333333; }
    .search_bar form .form_input {
      display: flex;
      height: 60px;
      background-color: #fff;
      width: 100%;
      border: none;
      font-size: 13px; }
      .search_bar form .form_input input[type=text] {
        border: none;
        flex-grow: 5;
        padding: 5px 10px; }
      .search_bar form .form_input label {
        margin: 0;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; }
        .search_bar form .form_input label input {
          margin: 0; }
    .search_bar form .col-sm-6 {
      position: relative; }
      .search_bar form .col-sm-6 .check-button {
        color: #fff;
        background-color: #4d4d4d; }
    .search_bar form .submit_button {
      border-radius: 0;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 0.5px;
      color: #fff;
      background-color: #b9b9b9;
      height: 60px;
      cursor: pointer; }

.navbar.fixed form .form_input {
  display: flex;
  height: auto;
  background-color: #fff;
  width: 100%;
  border: none;
  font-size: 13px; }
  .navbar.fixed form .form_input input[type=text] {
    border: none;
    flex-grow: 5;
    padding: 5px 10px; }
  .navbar.fixed form .form_input label {
    margin: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .navbar.fixed form .form_input label input {
      margin: 0; }
.navbar.fixed form .col-sm-5,
.navbar.fixed form .col-sm-6,
.navbar.fixed form .col-sm-7 {
  position: relative; }
  .navbar.fixed form .col-sm-5 .check-button,
  .navbar.fixed form .col-sm-6 .check-button,
  .navbar.fixed form .col-sm-7 .check-button {
    color: #fff;
    background-color: #4d4d4d; }
.navbar.fixed form .submit_button {
  border-radius: 0 50px 50px 0;
  font-size: 13px;
  font-weight: 700;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #fff;
  background-color: #b9b9b9;
  height: auto;
  cursor: pointer; }
.navbar.fixed form > .row {
  margin-left: -1px;
  margin-right: -1px; }
  .navbar.fixed form > .row .col-sm-7,
  .navbar.fixed form > .row .col-sm-5,
  .navbar.fixed form > .row .col-sm-2 {
    padding: 1px; }

/*
end of search bar
*/
.categories_carousel {
  padding: 15px;
  background-color: #fff;
  margin: 15px 0; }
  .categories_carousel .carousel {
    margin: 0;
    padding: 0; }
  .categories_carousel .slick-prev:before, .categories_carousel .slick-next:before {
    color: #666666; }
  .categories_carousel .category {
    text-align: center; }
    .categories_carousel .category .fa {
      font-size: 25px;
      line-height: 60px;
      background-color: #b9b9b9;
      color: #666666;
      display: inline-block;
      height: 60px;
      width: 60px;
      border-radius: 100%;
      margin-bottom: 8px; }
    .categories_carousel .category .category_name {
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px; }

/*
end of categories carousel
*/
.body .main-body {
  padding: 15px;
  background-color: #fff; }
  .body .main-body .section {
    border-bottom: solid 1px #dfdfdf;
    padding-bottom: 20px; }
    .body .main-body .section .section-header {
      position: relative;
      overflow: hidden;
      margin-bottom: 15px;
      border-bottom: solid 1px #dfdfdf; }
      .body .main-body .section .section-header .section-title {
        font-weight: 700; }
      .body .main-body .section .section-header .slider-controls {
        float: right;
        margin-top: 10px; }
        .body .main-body .section .section-header .slider-controls span {
          display: inline-block;
          height: 35px;
          width: 35px;
          font-size: 12px;
          line-height: 35px;
          background-color: #b9b9b9;
          cursor: pointer;
          font-family: "FontAwesome", sans-serif;
          text-align: center;
          color: #666666;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        .body .main-body .section .section-header .slider-controls span:hover {
          background-color: #868686;
          color: #fff; }
        .body .main-body .section .section-header .slider-controls .prev:after {
          content: '\f053'; }
        .body .main-body .section .section-header .slider-controls .next:after {
          content: '\f054'; }
  .body .main-body .popular-tags .section-body {
    list-style: none; }
    .body .main-body .popular-tags .section-body .popular-tag {
      display: inline-block;
      vertical-align: top;
      width: 30%;
      font-size: 12px;
      position: relative; }
      .body .main-body .popular-tags .section-body .popular-tag a {
        display: block;
        color: #666666;
        padding: 2px; }
    .body .main-body .popular-tags .section-body .popular-tag:before {
      content: '\f105';
      font-family: "FontAwesome", sans-serif;
      position: absolute;
      left: -8px;
      top: 2px; }
  .body .main-body .section.section-slider .section-title {
    float: left;
    position: relative; }
    .body .main-body .section.section-slider .section-title small {
      position: absolute;
      left: 0;
      bottom: -12px;
      font-size: 13px; }
  .body .main-body .section.section-slider .section-body {
    padding: 0;
    /*end of articles*/ }
    .body .main-body .section.section-slider .section-body .articles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .body .main-body .section.section-slider .section-body .articles a {
        position: relative;
        width: 50%;
        padding: 0 1%;
        margin-bottom: 15px; }
        .body .main-body .section.section-slider .section-body .articles a .article_picture_frame {
          position: relative;
          width: 100%;
          height: 200px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center; }
        .body .main-body .section.section-slider .section-body .articles a .article_title {
          color: #333333;
          font-weight: 700;
          margin: 5px 0 8px; }
        .body .main-body .section.section-slider .section-body .articles a .article_abstract {
          font-size: 12px;
          color: #666666;
          height: 100px;
          overflow: hidden; }
    .body .main-body .section.section-slider .section-body .top-category {
      text-align: center; }
      .body .main-body .section.section-slider .section-body .top-category a {
        display: inline-block;
        padding: 15px;
        position: relative; }
        .body .main-body .section.section-slider .section-body .top-category a .top_category_picture_frame {
          overflow: hidden;
          height: 140px;
          display: flex;
          justify-content: center;
          align-items: center; }
        .body .main-body .section.section-slider .section-body .top-category a .top_category_name {
          margin: 10px 0;
          text-transform: uppercase;
          font-weight: 700;
          color: #4d4d4d; }
  .body .main-body .publicite {
    text-align: center;
    background-color: #b9b9b9;
    padding: 15px 0;
    margin: 15px 0; }
    .body .main-body .publicite .placeholder {
      height: 130px;
      width: 80%;
      margin: 0 auto;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
      line-height: 130px;
      background-color: #666666; }

.page-banner {
  background-size: cover;
  background-position: center center; }
  .page-banner .container {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .page-banner .container .page-title {
      margin: 0;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      padding: 70px 0;
      font-size: 25px; }
    .page-banner .container .categorie {
      display: block;
      font-size: 14px;
      font-weight: normal;
      font-style: italic; }
      .page-banner .container .categorie .fa {
        display: inline-block;
        margin-right: 5px;
        width: 25px;
        padding: 5px 0;
        text-align: center;
        background-color: #dfdfdf;
        color: #4d4d4d;
        border-radius: 100%; }

.pagination {
  overflow: hidden;
  margin: 0;
  width: 100%;
  position: relative; }
  .pagination .page-list {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right; }
    .pagination .page-list li {
      float: left; }
      .pagination .page-list li a,
      .pagination .page-list li span {
        padding: 7px 10px;
        display: block;
        margin: 0 2px;
        color: #666666;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .pagination .page-list li a:hover {
        background-color: #dfdfdf; }

#google-map {
  position: relative;
  height: 500px; }
  #google-map #map {
    height: 500px;
    background-color: #dfdfdf; }
  #google-map .etablissements:hover {
    opacity: 1; }
  #google-map .etablissements {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 100%;
    z-index: 100;
    opacity: 0.4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #google-map .etablissements .controls {
      display: none; }
      #google-map .etablissements .controls span {
        display: block;
        width: 100%;
        height: 40px;
        position: absolute;
        z-index: 101;
        background-color: rgba(77, 77, 77, 0.2);
        left: 0;
        cursor: pointer;
        font-family: "FontAwesome", sans-serif;
        text-align: center;
        color: #fff;
        line-height: 40px; }
      #google-map .etablissements .controls span:hover {
        background-color: rgba(77, 77, 77, 0.8); }
      #google-map .etablissements .controls .prev {
        top: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      #google-map .etablissements .controls .next {
        bottom: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      #google-map .etablissements .controls .prev:after {
        content: '\f077'; }
      #google-map .etablissements .controls .next:after {
        content: '\f078'; }
    @media (min-width: 769px) and (max-width: 1365px) {
      #google-map .etablissements .controls span {
        display: block;
        width: 40px;
        left: auto;
        height: 102px;
        bottom: 0;
        line-height: 102px; }
      #google-map .etablissements .controls .prev {
        top: auto;
        left: 0; }
      #google-map .etablissements .controls .next {
        bottom: 0;
        right: 0; }
      #google-map .etablissements .controls .prev:after {
        content: '\f053'; }
      #google-map .etablissements .controls .next:after {
        content: '\f054'; } }
    @media (min-width: 769px) {
      #google-map .etablissements .controls {
        display: block; } }
    #google-map .etablissements .etablissement {
      position: relative;
      background-color: #b9b9b9;
      overflow: hidden;
      margin: 1px 0;
      cursor: pointer; }
      #google-map .etablissements .etablissement .photo_etablissement {
        float: left;
        margin-right: 8px; }
      #google-map .etablissements .etablissement .details_etablissement {
        font-size: 12px;
        margin-left: 5px;
        padding: 5px; }
        #google-map .etablissements .etablissement .details_etablissement .nom_etablissement {
          font-weight: 700;
          font-size: 13px;
          margin-bottom: 5px; }
        #google-map .etablissements .etablissement .details_etablissement .quartier_etablissement {
          font-style: italic; }

.autour_de_moi .section-title {
  font-weight: 700; }
.autour_de_moi #google-map {
  height: 350px; }
  .autour_de_moi #google-map #map {
    height: 350px; }

header {
  background-color: #b9b9b9; }
  header #top-nav-menu {
    overflow: hidden;
    font-size: 13px;
    color: #666666;
    padding: 10px 0; }
    header #top-nav-menu ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    header #top-nav-menu .nav-contact {
      float: left; }
      header #top-nav-menu .nav-contact li {
        float: left;
        margin-right: 15px; }
    header #top-nav-menu .nav-social-media {
      float: right; }
      header #top-nav-menu .nav-social-media li {
        float: left;
        margin-left: 15px; }
    header #top-nav-menu .social-icon {
      display: inline-block;
      font-size: 12px;
      width: 22px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      border-radius: 100%;
      background-color: #f8f8f8;
      color: #666666; }
    header #top-nav-menu .button {
      padding: 5px 10px;
      color: #666666;
      background-color: #dfdfdf;
      border-radius: 3px;
      font-weight: 700;
      font-size: 11px;
      text-transform: uppercase; }
  header #top-nav-menu.fixed {
    padding-bottom: 82px; }
  header .navbar {
    margin: 0;
    border: none;
    padding: 5px 0;
    font-size: 12px;
    border-radius: 0; }
    header .navbar .logo {
      margin-left: 5px; }
    header .navbar .navbar-toggle {
      border: none; }
      header .navbar .navbar-toggle .icon-bar {
        color: #b9b9b9 !important;
        background-color: #b9b9b9 !important; }
      header .navbar .navbar-toggle .fa {
        color: #b9b9b9;
        font-size: 16px; }
    header .navbar .navbar-nav {
      float: right; }
    header .navbar a {
      color: #b9b9b9;
      text-transform: uppercase;
      font-weight: 700; }
  header .navbar.default {
    background-color: #868686; }
  header .navbar.fixed {
    background-color: #333333;
    box-shadow: 0 5px 15px rgba(51, 51, 51, 0.4);
    top: 42px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    header .navbar.fixed .searchbar-toggle {
      padding: 7px; }
    header .navbar.fixed #searchbar-collapse {
      margin-top: 3px; }
    header .navbar.fixed .navbar-header {
      float: left; }
    header .navbar.fixed .navs {
      float: right;
      width: calc(100% - 160px); }
      header .navbar.fixed .navs a {
        padding-top: 5px !important;
        padding-bottom: 5px !important; }
  header .navbar.attached {
    top: 0; }

.sidebar .widget {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 0 #f0f0f0; }
  .sidebar .widget .widget-title {
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: solid 2px #868686;
    padding-bottom: 8px; }
  .sidebar .widget .widget-link-list {
    list-style: none;
    padding: 0; }
    .sidebar .widget .widget-link-list .list-item {
      position: relative;
      overflow: hidden;
      margin: 5px 0; }
      .sidebar .widget .widget-link-list .list-item .photo_etablissement {
        width: 30%;
        height: 80px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        float: left; }
      .sidebar .widget .widget-link-list .list-item .details_etablissement {
        float: right;
        height: 80px;
        width: 70%;
        padding: 5px;
        font-size: 12px;
        color: #868686; }
        .sidebar .widget .widget-link-list .list-item .details_etablissement .nom_etablissement {
          font-weight: 700;
          color: #4d4d4d;
          line-height: 13px;
          font-size: 13px; }
  .sidebar .widget select {
    display: block;
    width: 100%;
    padding: 5px; }
.sidebar .publicite {
  margin: 30px 0;
  text-align: center; }
  .sidebar .publicite .placeholder {
    height: 300px;
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    line-height: 300px;
    background-color: #666666; }
.sidebar .calendar {
  font-size: 12px; }

footer#main-footer {
  overflow: hidden;
  padding: 20px 0 15px;
  background-color: #333333;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }
  footer#main-footer ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  footer#main-footer .footer-menu {
    float: left; }
    footer#main-footer .footer-menu li {
      float: left;
      margin-right: 15px; }
      footer#main-footer .footer-menu li a {
        color: #b9b9b9;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      footer#main-footer .footer-menu li a:hover {
        color: #fff; }
  footer#main-footer .footer-social-media {
    float: right; }
    footer#main-footer .footer-social-media li {
      float: left;
      margin-left: 15px; }
  footer#main-footer .social-icon {
    display: inline-block;
    font-size: 12px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 100%;
    background-color: #f8f8f8;
    color: #666666; }

#page-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #page-category .category {
    width: 48%;
    margin: 0 1% 10px;
    overflow: hidden;
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    #page-category .category .content {
      position: relative;
      z-index: 1; }
      #page-category .category .content .category_name {
        font-weight: 700;
        color: #dfdfdf;
        font-size: 15px; }
      #page-category .category .content .counter {
        color: #f8f8f8;
        font-style: italic;
        font-size: 14px; }
    #page-category .category a {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 0; }
  #page-category .publicite {
    width: 100%; }

#page-evenements .page-title {
  text-transform: uppercase;
  font-weight: 700;
  color: #4d4d4d;
  margin-bottom: 30px; }
#page-evenements .months-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  #page-evenements .months-list li {
    flex-grow: 1; }
    #page-evenements .months-list li a {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      color: #4d4d4d;
      padding: 5px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    #page-evenements .months-list li a:hover {
      box-shadow: 0 2px #4d4d4d; }
#page-evenements .months-select {
  width: 100%;
  padding: 5px 10px;
  height: 40px;
  border: none;
  border-bottom: solid 2px #b9b9b9; }
#page-evenements .event_list .article {
  position: relative;
  padding-left: 17px;
  padding-bottom: 30px; }
  #page-evenements .event_list .article .article_picture_frame {
    height: 225px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px; }
  #page-evenements .event_list .article .event_date {
    background-color: #4d4d4d;
    color: #f8f8f8;
    padding: 2px 10px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 2; }
    #page-evenements .event_list .article .event_date .date {
      float: left;
      margin: 0 5px; }
    #page-evenements .event_list .article .event_date .day {
      display: block;
      border-bottom: solid 2px #f8f8f8;
      font-size: 16px; }
    #page-evenements .event_list .article .event_date .month {
      font-size: 10px; }
  #page-evenements .event_list .article .article_title {
    color: #333333;
    font-weight: 700;
    font-size: 13px; }
  #page-evenements .event_list .article .event_date:before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: solid 13px transparent;
    border-left: solid 13px #b9b9b9;
    position: absolute;
    left: 5px;
    bottom: -13px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.page-banner .section-slider .article {
  position: relative;
  padding: 10px 0 10px 17px; }
  .page-banner .section-slider .article .article_picture_frame {
    height: 320px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px; }
  .page-banner .section-slider .article .event_date {
    background-color: #4d4d4d;
    color: #f8f8f8;
    padding: 2px 10px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 2; }
    .page-banner .section-slider .article .event_date .date {
      float: left;
      margin: 0 5px; }
    .page-banner .section-slider .article .event_date .day {
      display: block;
      border-bottom: solid 2px #f8f8f8;
      font-size: 16px; }
    .page-banner .section-slider .article .event_date .month {
      font-size: 10px; }
  .page-banner .section-slider .article .article_title {
    color: #333333;
    font-weight: 700;
    font-size: 13px; }
  .page-banner .section-slider .article .event_date:before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: solid 13px transparent;
    border-left: solid 13px #b9b9b9;
    position: absolute;
    left: 5px;
    bottom: -13px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.page-etablissement ul {
  margin: 0;
  padding: 0;
  list-style: none; }
.page-etablissement .social-sharing {
  overflow: hidden; }
  .page-etablissement .social-sharing ul {
    list-style: none;
    overflow: hidden;
    float: left; }
    .page-etablissement .social-sharing ul li {
      float: left;
      margin: 5px; }
      .page-etablissement .social-sharing ul li a {
        color: #4d4d4d;
        display: block;
        width: 35px;
        padding: 10px 0;
        text-align: center;
        background-color: #dfdfdf;
        border-radius: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .page-etablissement .social-sharing ul li a:hover {
        background-color: #868686;
        color: #fff; }
  .page-etablissement .social-sharing .incdicateur_ouverture {
    float: right;
    padding: 5px 15px;
    background-color: #4d4d4d;
    color: #f8f8f8;
    text-transform: uppercase;
    border-radius: 2px; }
.page-etablissement .section .logo_etablissement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 225px;
  overflow: hidden; }
.page-etablissement .section .sub-section-title {
  font-weight: 700;
  color: #4d4d4d;
  margin-bottom: 20px; }
.page-etablissement .section p {
  font-size: 13px; }
.page-etablissement .section ul.contact {
  font-size: 13px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .page-etablissement .section ul.contact li {
    margin: 5px 0; }
  .page-etablissement .section ul.contact li:before {
    font-family: "FontAwesome", sans-serif;
    color: #4d4d4d;
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 15px; }
  .page-etablissement .section ul.contact li.telephone:before {
    content: '\f095'; }
  .page-etablissement .section ul.contact li.email:before {
    content: '\f1fa'; }
  .page-etablissement .section ul.contact li.website:before {
    content: '\f0ac'; }
  .page-etablissement .section ul.contact li.facebook:before {
    content: '\f09a'; }
  .page-etablissement .section ul.contact li.linkedin:before {
    content: '\f0e1'; }
  .page-etablissement .section ul.contact li.twitter:before {
    content: '\f099'; }
  .page-etablissement .section ul.contact li.instagram:before {
    content: '\f16d'; }
.page-etablissement .section ul.tags {
  list-style: none;
  font-size: 11px; }
  .page-etablissement .section ul.tags li {
    display: inline-block;
    vertical-align: top;
    padding: 2px 10px;
    margin: 0 2px 5px 0;
    border-radius: 2px;
    border: solid 1px #868686; }
.page-etablissement .section ul.horaires {
  font-size: 12px; }
  .page-etablissement .section ul.horaires .jour {
    display: inline-block;
    width: 100px; }
.page-etablissement .section ul.paiements {
  font-size: 12px; }
  .page-etablissement .section ul.paiements li {
    display: inline-block;
    text-align: center;
    margin: 0 15px 5px 0; }
.page-etablissement .event_list .article {
  position: relative;
  padding-left: 17px;
  padding-bottom: 30px; }
  .page-etablissement .event_list .article .article_picture_frame {
    height: 225px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px; }
  .page-etablissement .event_list .article .event_date {
    background-color: #4d4d4d;
    color: #f8f8f8;
    padding: 2px 10px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 2; }
    .page-etablissement .event_list .article .event_date .date {
      float: left;
      margin: 0 5px; }
    .page-etablissement .event_list .article .event_date .day {
      display: block;
      border-bottom: solid 2px #f8f8f8;
      font-size: 16px; }
    .page-etablissement .event_list .article .event_date .month {
      font-size: 10px; }
  .page-etablissement .event_list .article .article_title {
    color: #333333;
    font-weight: 700;
    font-size: 13px; }
  .page-etablissement .event_list .article .event_date:before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: solid 13px transparent;
    border-left: solid 13px #b9b9b9;
    position: absolute;
    left: 5px;
    bottom: -13px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

@media (max-width: 1365px) {
  #google-map .etablissements {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 100px;
    opacity: 1;
    z-index: 100; }
    #google-map .etablissements .etablissement {
      position: relative;
      background-color: #b9b9b9;
      overflow: hidden;
      margin: 1px 0;
      cursor: pointer; }
      #google-map .etablissements .etablissement .photo_etablissement {
        float: left;
        margin-right: 8px; }
      #google-map .etablissements .etablissement .details_etablissement {
        font-size: 12px;
        margin-left: 5px;
        padding: 5px; }
        #google-map .etablissements .etablissement .details_etablissement .nom_etablissement {
          font-weight: 700;
          font-size: 13px;
          margin-bottom: 5px; }
        #google-map .etablissements .etablissement .details_etablissement .quartier_etablissement {
          font-style: italic; } }
@media (min-width: 768px) and (max-width: 991px) {
  .navbar.fixed form .col-sm-5,
  .navbar.fixed form .col-sm-6,
  .navbar.fixed form .col-sm-7 {
    position: relative; }
    .navbar.fixed form .col-sm-5 .check-button,
    .navbar.fixed form .col-sm-6 .check-button,
    .navbar.fixed form .col-sm-7 .check-button {
      font-size: 0; }
  .navbar.fixed form > .row {
    margin-left: -1px;
    margin-right: -1px; }
    .navbar.fixed form > .row .col-sm-7,
    .navbar.fixed form > .row .col-sm-5,
    .navbar.fixed form > .row .col-sm-2 {
      padding: 1px; } }
@media (max-width: 767px) {
  header #top-nav-menu .nav-contact {
    clear: both;
    margin-bottom: 10px; }
    header #top-nav-menu .nav-contact li {
      float: left;
      margin-right: 15px; }
  header #top-nav-menu .nav-social-media {
    float: left; }
    header #top-nav-menu .nav-social-media li {
      float: left;
      margin-left: 15px; }
  header #top-nav-menu .social-icon {
    display: inline-block;
    font-size: 12px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 100%;
    background-color: #f8f8f8;
    color: #666666; }
  header #top-nav-menu .button {
    padding: 5px 10px;
    color: #666666;
    background-color: #dfdfdf;
    border-radius: 3px;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase; }
  header .navbar {
    margin: 0; }
    header .navbar .icon-bar {
      background-color: #dfdfdf; }
    header .navbar .logo {
      margin-left: 15px; }
    header .navbar .navbar-toggle {
      margin-top: 15px; }
    header .navbar .navbar-nav {
      float: none; }
  header .navbar.fixed {
    /*position: relative;*/ }
    header .navbar.fixed .navbar-header {
      float: none; }
    header .navbar.fixed .navs {
      float: none;
      width: 100%; }
      header .navbar.fixed .navs a {
        padding-top: 5px !important;
        padding-bottom: 5px !important; }

  .search_bar form .form_input {
    flex-direction: column; }

  .navbar.fixed form .form_input {
    display: block; }
    .navbar.fixed form .form_input input[type=text] {
      border: none;
      flex-grow: inherit;
      padding: 10px;
      width: 100%; }
    .navbar.fixed form .form_input label {
      margin: 0;
      flex-grow: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 8px; }
      .navbar.fixed form .form_input label input {
        margin: 0; }
  .navbar.fixed form .submit_button {
    border-radius: 0;
    padding: 8px; }
  .navbar.fixed form > .row {
    margin-left: -15px;
    margin-right: -15px; }
    .navbar.fixed form > .row .col-sm-7,
    .navbar.fixed form > .row .col-sm-5,
    .navbar.fixed form > .row .col-sm-2 {
      padding-left: inherit;
      padding-right: inherit; }

  .body .main-body .popular-tags .section-body .popular-tag {
    width: 45%; }
    .body .main-body .popular-tags .section-body .popular-tag a {
      display: block;
      color: #666666;
      padding: 2px; }
  .body .main-body .popular-tags .section-body .popular-tag:before {
    content: '\f105';
    font-family: "FontAwesome", sans-serif;
    position: absolute;
    left: -8px;
    top: 2px; }
  .body .main-body .section.section-slider .section-title {
    float: left; }
  .body .main-body .section.section-slider .section-body {
    padding: 0;
    /*end of articles*/ }
    .body .main-body .section.section-slider .section-body .articles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .body .main-body .section.section-slider .section-body .articles a {
        position: relative;
        width: 50%;
        padding: 0 1%;
        margin-bottom: 15px; }
        .body .main-body .section.section-slider .section-body .articles a .article_picture_frame {
          position: relative;
          width: 100%;
          height: 200px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center; }
        .body .main-body .section.section-slider .section-body .articles a .article_title {
          color: #333333;
          font-weight: 700;
          margin: 5px 0 8px; }
        .body .main-body .section.section-slider .section-body .articles a .article_abstract {
          font-size: 12px;
          color: #666666;
          height: 100px;
          overflow: hidden; }
    .body .main-body .section.section-slider .section-body .top-category {
      text-align: center; }
      .body .main-body .section.section-slider .section-body .top-category a {
        display: inline-block;
        padding: 15px;
        position: relative; }
        .body .main-body .section.section-slider .section-body .top-category a .top_category_picture_frame {
          overflow: hidden;
          height: 140px;
          display: flex;
          justify-content: center;
          align-items: center; }
        .body .main-body .section.section-slider .section-body .top-category a .top_category_name {
          margin: 10px 0;
          text-transform: uppercase;
          font-weight: 700;
          color: #4d4d4d; }
  .body .main-body .publicite {
    text-align: center;
    background-color: #b9b9b9;
    padding: 15px 0;
    margin: 15px 0; }
    .body .main-body .publicite .placeholder {
      height: 130px;
      width: 80%;
      margin: 0 auto;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
      line-height: 130px;
      background-color: #666666; } }
@media (max-width: 640px) {
  .body .main-body .section.section-slider .section-body .articles {
    display: block; }
    .body .main-body .section.section-slider .section-body .articles a .article_title {
      color: #333333;
      font-weight: 700;
      margin: 5px 0 8px; }
    .body .main-body .section.section-slider .section-body .articles a .article_abstract {
      font-size: 12px;
      color: #666666;
      height: 100px;
      overflow: hidden; } }
@media (max-width: 480px) {
  #page-category {
    display: block; }
    #page-category .category {
      width: 100%;
      margin: 0 0 10px;
      height: 200px; } }

/*# sourceMappingURL=style.css.map */
