html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

select {
  width: 100%;
  border: solid 2px #b9b9b9;
  padding: 5px 10px;
  height: 40px; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 5rem;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8; }

a:hover, a:focus {
  text-decoration: none !important; }

a {
  color: #333333; }

*, *:focus, *:active {
  outline: none !important; }

.search_bar {
  background-color: #fff;
  padding: 15px 0; }
  .search_bar form {
    padding: 15px;
    background-color: #e6e6e6; }
    .search_bar form .form_input {
      display: flex;
      height: 60px;
      background-color: #fff;
      width: 100%;
      border: none;
      font-size: 13px; }
      .search_bar form .form_input input[type=text] {
        border: none;
        flex-grow: 5;
        padding: 5px 10px; }
      .search_bar form .form_input label {
        margin: 0;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; }
        .search_bar form .form_input label input {
          margin: 0; }
    .search_bar form .col-sm-6 {
      position: relative; }
      .search_bar form .col-sm-6 .check-button {
        color: #fff;
        background-color: #af1e27; }
    .search_bar form .submit_button {
      border-radius: 0;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 0.5px;
      color: #fff;
      background-color: #af1e27;
      height: 60px;
      cursor: pointer; }

.navbar.fixed form .form_input {
  display: flex;
  height: auto;
  background-color: #fff;
  width: 100%;
  border: none;
  font-size: 13px; }
  .navbar.fixed form .form_input input[type=text] {
    border: none;
    flex-grow: 5;
    padding: 5px 10px;
    background-color: #f8f8f8; }
  .navbar.fixed form .form_input label {
    margin: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .navbar.fixed form .form_input label input {
      margin: 0; }
.navbar.fixed form .col-sm-5,
.navbar.fixed form .col-sm-6,
.navbar.fixed form .col-sm-7 {
  position: relative; }
  .navbar.fixed form .col-sm-5 .check-button,
  .navbar.fixed form .col-sm-6 .check-button,
  .navbar.fixed form .col-sm-7 .check-button {
    color: #fff;
    background-color: #af1e27; }
.navbar.fixed form .submit_button {
  border-radius: 0 50px 50px 0;
  font-size: 13px;
  font-weight: 700;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #fff;
  background-color: #af1e27;
  height: auto;
  cursor: pointer; }
.navbar.fixed form > .row {
  margin-left: -1px;
  margin-right: -1px; }
  .navbar.fixed form > .row .col-sm-7,
  .navbar.fixed form > .row .col-sm-5,
  .navbar.fixed form > .row .col-sm-2 {
    padding: 1px; }

/*
end of search bar
*/
.categories_carousel {
  padding: 15px;
  background-color: #fff;
  margin: 15px 0; }
  .categories_carousel .carousel {
    margin: 0;
    padding: 0; }
  .categories_carousel .slick-prev:before, .categories_carousel .slick-next:before {
    color: #666666; }
  .categories_carousel .category {
    text-align: center; }
    .categories_carousel .category .fa {
      font-size: 25px;
      line-height: 60px;
      background-color: #af1e27;
      color: #fff;
      display: inline-block;
      height: 60px;
      width: 60px;
      border-radius: 100%;
      margin-bottom: 8px; }
    .categories_carousel .category .category_name {
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      color: #757575; }

/*
end of categories carousel
*/
.body .main-body {
  padding: 15px;
  background-color: #fff; }
  .body .main-body .section {
    border-bottom: solid 1px #dfdfdf;
    padding-bottom: 20px; }
    .body .main-body .section .section-header {
      position: relative;
      overflow: hidden;
      margin-bottom: 15px; }
      .body .main-body .section .section-header .section-title {
        font-weight: 700;
        color: #af1e27; }
      .body .main-body .section .section-header .slider-controls {
        float: right;
        margin-top: 10px; }
        .body .main-body .section .section-header .slider-controls span {
          display: inline-block;
          height: 35px;
          width: 35px;
          font-size: 12px;
          line-height: 35px;
          background-color: #e6e6e6;
          cursor: pointer;
          font-family: "FontAwesome", sans-serif;
          text-align: center;
          color: #fff;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        .body .main-body .section .section-header .slider-controls span:hover {
          background-color: #af1e27;
          color: #fff; }
        .body .main-body .section .section-header .slider-controls .prev:after {
          content: '\f053'; }
        .body .main-body .section .section-header .slider-controls .next:after {
          content: '\f054'; }
  .body .main-body .popular-tags .section-body {
    list-style: none; }
    .body .main-body .popular-tags .section-body .popular-tag {
      display: inline-block;
      vertical-align: top;
      width: 30%;
      font-size: 12px;
      position: relative; }
      .body .main-body .popular-tags .section-body .popular-tag a {
        display: block;
        color: #666666;
        padding: 2px; }
    .body .main-body .popular-tags .section-body .popular-tag:before {
      content: '\f105';
      font-family: "FontAwesome", sans-serif;
      position: absolute;
      left: -8px;
      top: 2px; }
  .body .main-body .section.section-slider .section-title {
    float: left;
    position: relative;
    color: #af1e27; }
    .body .main-body .section.section-slider .section-title small {
      position: absolute;
      left: 0;
      bottom: -12px;
      font-size: 13px; }
  .body .main-body .section.section-slider .section-body {
    padding: 0;
    /*end of articles*/ }
    .body .main-body .section.section-slider .section-body .articles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .body .main-body .section.section-slider .section-body .articles a {
        position: relative;
        width: 50%;
        padding: 0 1%;
        margin-bottom: 30px; }
        .body .main-body .section.section-slider .section-body .articles a .article_picture_frame {
          position: relative;
          width: 100%;
          height: 200px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center; }
        .body .main-body .section.section-slider .section-body .articles a .article_title {
          color: #333333;
          font-weight: 700;
          margin-top: 5px; }
        .body .main-body .section.section-slider .section-body .articles a .article_location,
        .body .main-body .section.section-slider .section-body .articles a .annonceur {
          color: #666666;
          font-size: 13px; }
        .body .main-body .section.section-slider .section-body .articles a .annonceur {
          font-weight: 700; }
        .body .main-body .section.section-slider .section-body .articles a .article_abstract {
          font-size: 12px;
          color: #666666;
          height: 100px;
          overflow: hidden; }
        .body .main-body .section.section-slider .section-body .articles a .event_date {
          background-color: #2d2d7b;
          color: #fff;
          padding: 2px 10px;
          display: inline-block;
          text-align: center;
          text-transform: uppercase;
          font-weight: 700;
          position: absolute;
          top: 30px;
          left: 0;
          z-index: 2; }
          .body .main-body .section.section-slider .section-body .articles a .event_date .date {
            float: left;
            margin: 0 5px; }
          .body .main-body .section.section-slider .section-body .articles a .event_date .day {
            display: block;
            border-bottom: solid 2px #fff;
            font-size: 16px; }
          .body .main-body .section.section-slider .section-body .articles a .event_date .month {
            font-size: 10px; }
        .body .main-body .section.section-slider .section-body .articles a .event_date:before {
          content: '';
          display: inline-block;
          width: 6px;
          height: 6px;
          border: solid 6px transparent;
          border-left: solid 6px #b9b9b9;
          position: absolute;
          left: 3px;
          bottom: -6px;
          z-index: 1;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        @media (max-width: 480px) {
          .body .main-body .section.section-slider .section-body .articles a .event_date:before {
            display: none; } }
    .body .main-body .section.section-slider .section-body .top-category {
      text-align: center; }
      .body .main-body .section.section-slider .section-body .top-category a {
        display: inline-block;
        padding: 15px;
        position: relative; }
        .body .main-body .section.section-slider .section-body .top-category a .top_category_picture_frame {
          overflow: hidden;
          height: 140px;
          display: flex;
          justify-content: center;
          align-items: center; }
        .body .main-body .section.section-slider .section-body .top-category a .top_category_name {
          margin: 10px 0;
          text-transform: uppercase;
          font-weight: 700;
          color: #4d4d4d; }
  .body .main-body .publicite {
    text-align: center;
    padding: 15px 0;
    margin: 15px 0; }
    .body .main-body .publicite .placeholder {
      height: 130px;
      width: 80%;
      margin: 0 auto;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
      line-height: 130px;
      background-color: #666666; }

.page-banner:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0; }

.page-banner {
  position: relative;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center center; }
  .page-banner .container-fluid {
    position: relative;
    z-index: 1; }
  .page-banner .container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .page-banner .container .page-title {
      margin: 0;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      padding: 70px 0;
      font-size: 25px; }
      .page-banner .container .page-title small {
        text-transform: none;
        color: #dfdfdf; }
    .page-banner .container .categorie {
      display: block;
      font-size: 14px;
      font-weight: normal;
      font-style: italic; }
      .page-banner .container .categorie .fa {
        display: inline-block;
        margin-right: 5px;
        width: 25px;
        padding: 5px 0;
        text-align: center;
        background-color: #dfdfdf;
        color: #4d4d4d;
        border-radius: 100%; }

.pagination {
  overflow: hidden;
  margin: 0;
  width: 100%;
  position: relative; }
  .pagination .page-list {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right; }
    .pagination .page-list li {
      float: left; }
      .pagination .page-list li a,
      .pagination .page-list li span {
        padding: 7px 10px;
        display: block;
        margin: 0 2px;
        color: #666666;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .pagination .page-list li a:hover {
        background-color: #dfdfdf; }

.video-player {
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }
  .video-player .play-button {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: #af1e27;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .video-player .play-button:after {
    content: '\f01d';
    font-family: "FontAwesome", sans-serif;
    font-size: 7em;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .video-player .play-button:hover:after {
    font-size: 6em; }

.blank {
  margin-bottom: 20px; }

.contact-list-icons {
  position: relative;
  font-size: 13px;
  z-index: 1; }
  .contact-list-icons li {
    display: flex;
    flex-direction: row; }
  .contact-list-icons .fa {
    display: inline-block;
    width: 40px;
    text-align: center; }

.bg-cover {
  background-size: cover;
  background-position: center center; }

.page-404 .container {
  min-height: 80vh;
  height: 100%;
  display: flex;
  align-items: center; }
  .page-404 .container .content {
    width: 70%; }
  .page-404 .container .h1 {
    font-size: 10em;
    font-weight: 700; }
  .page-404 .container .h3 {
    font-size: 18px; }
  .page-404 .container .button-large {
    background-color: #868686;
    color: #fff;
    display: inline-block;
    margin: 20px 0;
    margin-right: 15px;
    border: none;
    padding: 10px 20px; }

#google-map {
  position: relative;
  height: 500px; }
  #google-map #map {
    height: 500px;
    background-color: #dfdfdf; }
  #google-map .etablissements:hover {
    opacity: 1; }
  #google-map .etablissements {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 100%;
    z-index: 100;
    opacity: 0.4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #google-map .etablissements .controls {
      display: none; }
      #google-map .etablissements .controls span {
        display: block;
        width: 100%;
        height: 40px;
        position: absolute;
        z-index: 101;
        background-color: rgba(45, 45, 123, 0.2);
        left: 0;
        cursor: pointer;
        font-family: "FontAwesome", sans-serif;
        text-align: center;
        color: #fff;
        line-height: 40px; }
      #google-map .etablissements .controls span:hover {
        background-color: rgba(45, 45, 123, 0.8); }
      #google-map .etablissements .controls .prev {
        top: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      #google-map .etablissements .controls .next {
        bottom: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      #google-map .etablissements .controls .prev:after {
        content: '\f077'; }
      #google-map .etablissements .controls .next:after {
        content: '\f078'; }
    @media (min-width: 769px) and (max-width: 1365px) {
      #google-map .etablissements .controls span {
        display: block;
        width: 40px;
        left: auto;
        height: 102px;
        bottom: 0;
        line-height: 102px; }
      #google-map .etablissements .controls .prev {
        top: auto;
        left: 0; }
      #google-map .etablissements .controls .next {
        bottom: 0;
        right: 0; }
      #google-map .etablissements .controls .prev:after {
        content: '\f053'; }
      #google-map .etablissements .controls .next:after {
        content: '\f054'; } }
    @media (min-width: 769px) {
      #google-map .etablissements .controls {
        display: block; } }
    #google-map .etablissements .etablissement {
      position: relative;
      background-color: #fff;
      overflow: hidden;
      margin: 1px 0;
      cursor: pointer; }
      #google-map .etablissements .etablissement .photo_etablissement {
        float: left;
        margin-right: 8px;
        position: relative;
        height: 100px;
        width: 160px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center; }
      #google-map .etablissements .etablissement .details_etablissement {
        font-size: 12px;
        margin-left: 5px;
        padding: 5px; }
        #google-map .etablissements .etablissement .details_etablissement .nom_etablissement {
          font-weight: 700;
          font-size: 13px;
          margin-bottom: 5px; }
        #google-map .etablissements .etablissement .details_etablissement .quartier_etablissement {
          font-style: italic; }

.autour_de_moi .section-title {
  font-weight: 700;
  color: #af1e27; }
.autour_de_moi #google-map {
  height: 350px; }
  .autour_de_moi #google-map #map {
    height: 350px; }

header {
  background-color: #e6e6e6; }
  header #top-nav-menu {
    overflow: hidden;
    font-size: 13px;
    color: #2d2d7b;
    padding: 10px 0; }
    header #top-nav-menu ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    header #top-nav-menu .nav-contact {
      float: left; }
      header #top-nav-menu .nav-contact li {
        float: left;
        margin-right: 15px; }
    header #top-nav-menu .nav-social-media {
      float: right; }
      header #top-nav-menu .nav-social-media li {
        float: left;
        margin-left: 15px; }
    header #top-nav-menu .social-icon {
      display: inline-block;
      font-size: 12px;
      width: 22px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      border-radius: 100%;
      background-color: #fff;
      color: #2d2d7b; }
    header #top-nav-menu .button {
      padding: 5px 10px;
      color: #fff;
      background-color: #2d2d7b;
      border-radius: 3px;
      font-weight: 700;
      font-size: 11px;
      text-transform: uppercase; }
  header #top-nav-menu.fixed {
    padding-bottom: 76px; }
  header .nav > li > a:focus, header .nav > li > a:hover {
    background-color: #af1e27;
    color: #fff; }
  header .navbar {
    margin: 0;
    border: none;
    padding: 5px 0;
    font-size: 12px;
    border-radius: 0; }
    header .navbar .logo {
      margin-left: 5px; }
    header .navbar .navbar-toggle {
      border: none; }
      header .navbar .navbar-toggle .fa {
        color: #b9b9b9;
        font-size: 16px; }
    header .navbar .navbar-nav {
      float: right; }
    header .navbar a {
      color: #af1e27;
      text-transform: uppercase;
      font-weight: 700; }
  header .navbar.default {
    background-color: #fff; }
  header .navbar.fixed {
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(51, 51, 51, 0.4);
    top: 42px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    header .navbar.fixed .searchbar-toggle {
      padding: 7px; }
    header .navbar.fixed #searchbar-collapse {
      margin-top: 3px; }
    header .navbar.fixed .navbar-header {
      float: left; }
    header .navbar.fixed .navs {
      float: right;
      width: calc(100% - 160px); }
      header .navbar.fixed .navs a {
        padding-top: 5px !important;
        padding-bottom: 5px !important; }
  header .navbar.attached {
    top: 0; }

.sidebar .widget {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 0 #f0f0f0; }
  .sidebar .widget .widget-title {
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: solid 2px #e6e6e6;
    padding-bottom: 8px;
    color: #af1e27; }
  .sidebar .widget .widget-link-list {
    list-style: none;
    padding: 0; }
    .sidebar .widget .widget-link-list .list-item {
      position: relative;
      overflow: hidden;
      margin: 5px 0; }
      .sidebar .widget .widget-link-list .list-item .photo_etablissement {
        width: 30%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        float: left; }
      .sidebar .widget .widget-link-list .list-item .details_etablissement {
        float: right;
        height: 80px;
        width: 70%;
        padding: 5px;
        font-size: 12px;
        color: #868686; }
        .sidebar .widget .widget-link-list .list-item .details_etablissement .nom_etablissement {
          font-weight: 700;
          color: #4d4d4d;
          line-height: 13px;
          font-size: 13px; }
  .sidebar .widget .widget-simple-list {
    padding-left: 10px; }
    .sidebar .widget .widget-simple-list .list-item:before {
      content: '\f105';
      font-family: "FontAwesome", sans-serif;
      position: absolute;
      left: -5px;
      top: 3px; }
    .sidebar .widget .widget-simple-list .list-item {
      margin: 2px 0;
      position: relative; }
      .sidebar .widget .widget-simple-list .list-item a {
        display: block;
        padding: 2px 5px;
        color: #4d4d4d; }
  .sidebar .widget select {
    display: block;
    width: 100%;
    padding: 5px; }
.sidebar .publicite {
  margin: 30px 0;
  text-align: center; }
  .sidebar .publicite .placeholder {
    height: 300px;
    width: 92%;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    line-height: 300px;
    background-color: #666666; }
.sidebar .calendar {
  font-size: 12px; }

footer#main-footer {
  overflow: hidden;
  padding: 20px 0 15px;
  background-color: #2c2c2c;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }
  footer#main-footer ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  footer#main-footer .footer-menu {
    float: left; }
    footer#main-footer .footer-menu li {
      float: left;
      margin-right: 15px; }
      footer#main-footer .footer-menu li a {
        color: #af1e27;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      footer#main-footer .footer-menu li a:hover {
        color: #fff; }
  footer#main-footer .footer-social-media {
    float: right; }
    footer#main-footer .footer-social-media li {
      float: left;
      margin-left: 15px; }
  footer#main-footer .social-icon {
    display: inline-block;
    font-size: 12px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 100%;
    background-color: #f8f8f8;
    color: #af1e27; }

#page-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #page-category .category {
    width: 48%;
    margin: 0 1% 10px;
    overflow: hidden;
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    #page-category .category .content {
      position: relative;
      z-index: 1; }
      #page-category .category .content .category_name {
        font-weight: 700;
        color: #dfdfdf;
        font-size: 15px; }
      #page-category .category .content .counter {
        color: #f8f8f8;
        font-style: italic;
        font-size: 14px; }
    #page-category .category a {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 0; }
  #page-category .publicite {
    width: 100%; }

#page-evenements .page-title {
  text-transform: uppercase;
  font-weight: 700;
  color: #af1e27;
  margin-bottom: 30px; }
#page-evenements .months-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  #page-evenements .months-list li {
    flex-grow: 1; }
    #page-evenements .months-list li a {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      color: #4d4d4d;
      padding: 5px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    #page-evenements .months-list li a:hover {
      box-shadow: 0 2px #af1e27; }
#page-evenements .months-select {
  width: 100%;
  padding: 5px 10px;
  height: 40px;
  border: none;
  border-bottom: solid 2px #b9b9b9; }
#page-evenements .event_list .article {
  position: relative;
  padding-left: 17px;
  padding-bottom: 30px; }
  #page-evenements .event_list .article .article_picture_frame {
    height: 225px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px; }
  #page-evenements .event_list .article .event_date {
    background-color: #af1e27;
    color: #f8f8f8;
    padding: 2px 10px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 2; }
    #page-evenements .event_list .article .event_date .date {
      float: left;
      margin: 0 5px; }
    #page-evenements .event_list .article .event_date .day {
      display: block;
      border-bottom: solid 2px #f8f8f8;
      font-size: 16px; }
    #page-evenements .event_list .article .event_date .month {
      font-size: 10px; }
  #page-evenements .event_list .article .article_title {
    color: #333333;
    font-weight: 700;
    font-size: 13px; }
  #page-evenements .event_list .article .article_location,
  #page-evenements .event_list .article .annonceur {
    color: #666666;
    font-size: 11px; }
  #page-evenements .event_list .article .annonceur {
    font-weight: 700; }
  #page-evenements .event_list .article .event_date:before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: solid 13px transparent;
    border-left: solid 13px #b9b9b9;
    position: absolute;
    left: 5px;
    bottom: -13px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.page-banner .section-slider .article {
  position: relative;
  padding: 10px 0 10px 17px; }
  .page-banner .section-slider .article .article_picture_frame {
    height: 320px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    position: relative; }
    .page-banner .section-slider .article .article_picture_frame .event-data {
      position: absolute;
      left: 0;
      bottom: -100%;
      width: 100%;
      height: auto;
      padding: 15px;
      background-color: rgba(175, 30, 39, 0.8);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .page-banner .section-slider .article .article_picture_frame .event-data .article_location,
      .page-banner .section-slider .article .article_picture_frame .event-data .article_owner {
        color: #fff;
        font-size: 12px; }
      .page-banner .section-slider .article .article_picture_frame .event-data .article_owner {
        font-weight: 700; }
  .page-banner .section-slider .article .event_date {
    background-color: #2d2d7b;
    color: #fff;
    padding: 2px 10px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 2; }
    .page-banner .section-slider .article .event_date .date {
      float: left;
      margin: 0 5px; }
    .page-banner .section-slider .article .event_date .day {
      display: block;
      border-bottom: solid 2px #f8f8f8;
      font-size: 16px; }
    .page-banner .section-slider .article .event_date .month {
      font-size: 10px; }
  .page-banner .section-slider .article .article_title {
    color: #2d2d7b;
    font-weight: 700;
    font-size: 13px; }
  .page-banner .section-slider .article .event_date:before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: solid 13px transparent;
    border-left: solid 13px #b9b9b9;
    position: absolute;
    left: 5px;
    bottom: -13px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.page-banner .section-slider .article:hover .article_picture_frame .event-data {
  bottom: 0; }

.page-etablissement ul {
  margin: 0;
  padding: 0;
  list-style: none; }
.page-etablissement .social-sharing {
  overflow: hidden; }
  .page-etablissement .social-sharing ul {
    list-style: none;
    overflow: hidden;
    float: left; }
    .page-etablissement .social-sharing ul li {
      float: left;
      margin: 5px; }
      .page-etablissement .social-sharing ul li a {
        color: #fff;
        display: block;
        width: 35px;
        padding: 10px 0;
        text-align: center;
        border-radius: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .page-etablissement .social-sharing ul li a:hover {
        background-color: #868686;
        color: #fff; }
  .page-etablissement .social-sharing .incdicateur_ouverture {
    float: right;
    padding: 5px 15px;
    border: solid 1px #333333;
    color: #333333;
    text-transform: uppercase;
    border-radius: 2px; }
.page-etablissement .section .logo_etablissement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden; }
.page-etablissement .section .sub-section-title {
  font-weight: 700;
  color: #af1e27;
  margin-bottom: 10px; }
.page-etablissement .section p {
  font-size: 13px; }
.page-etablissement .section ul.contact {
  font-size: 13px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .page-etablissement .section ul.contact li {
    margin: 5px 0; }
  .page-etablissement .section ul.contact li:before {
    font-family: "FontAwesome", sans-serif;
    color: #4d4d4d;
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 15px; }
  .page-etablissement .section ul.contact li.telephone:before {
    content: '\f095'; }
  .page-etablissement .section ul.contact li.email:before {
    content: '\f1fa'; }
  .page-etablissement .section ul.contact li.website:before {
    content: '\f0ac'; }
  .page-etablissement .section ul.contact li.facebook:before {
    content: '\f09a'; }
  .page-etablissement .section ul.contact li.linkedin:before {
    content: '\f0e1'; }
  .page-etablissement .section ul.contact li.twitter:before {
    content: '\f099'; }
  .page-etablissement .section ul.contact li.instagram:before {
    content: '\f16d'; }
.page-etablissement .section ul.tags {
  list-style: none;
  font-size: 11px; }
  .page-etablissement .section ul.tags li {
    display: inline-block;
    vertical-align: top;
    padding: 2px 10px;
    margin: 0 2px 5px 0;
    border-radius: 2px;
    border: solid 1px #868686;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .page-etablissement .section ul.tags li:hover {
    background-color: #666666;
    color: #fff; }
.page-etablissement .section ul.horaires {
  font-size: 12px; }
  .page-etablissement .section ul.horaires .jour {
    display: inline-block;
    width: 100px; }
.page-etablissement .section ul.paiements {
  font-size: 12px; }
  .page-etablissement .section ul.paiements li {
    display: inline-block;
    text-align: center;
    margin: 0 15px 5px 0; }
.page-etablissement .event_list .article {
  position: relative;
  padding-left: 17px;
  padding-bottom: 30px; }
  .page-etablissement .event_list .article .article_picture_frame {
    height: 225px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px; }
  .page-etablissement .event_list .article .event_date {
    background-color: #df8e00;
    color: #2d2d7b;
    padding: 2px 10px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 2; }
    .page-etablissement .event_list .article .event_date .date {
      float: left;
      margin: 0 5px; }
    .page-etablissement .event_list .article .event_date .day {
      display: block;
      border-bottom: solid 2px #f8f8f8;
      font-size: 16px; }
    .page-etablissement .event_list .article .event_date .month {
      font-size: 10px; }
  .page-etablissement .event_list .article .article_title {
    color: #333333;
    font-weight: 700;
    font-size: 13px; }
  .page-etablissement .event_list .article .article_location,
  .page-etablissement .event_list .article .annonceur {
    color: #666666;
    font-size: 13px; }
  .page-etablissement .event_list .article .annonceur {
    font-weight: 700; }
  .page-etablissement .event_list .article .event_date:before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: solid 13px transparent;
    border-left: solid 13px #b9b9b9;
    position: absolute;
    left: 5px;
    bottom: -13px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.page-etablissement .liste-etablissements .list-item {
  color: #333333;
  border: solid 1px #dfdfdf;
  display: block;
  padding-left: 0;
  margin-bottom: 10px; }
.page-etablissement .liste-etablissements .item-title {
  font-weight: 700;
  position: relative; }
.page-etablissement .liste-etablissements .row.header {
  margin-bottom: 5px; }
.page-etablissement .liste-etablissements .item-location {
  font-weight: 700;
  margin-bottom: 5px; }
.page-etablissement .liste-etablissements .item-description {
  font-size: 13px;
  margin-bottom: 15px; }
.page-etablissement .liste-etablissements .col-sm-4 {
  padding-left: 0; }
.page-etablissement .liste-etablissements .list-item-image {
  overflow: hidden;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center; }
.page-etablissement .liste-etablissements .list-item-info {
  padding: 15px 0; }

span.incdicateur_ouverture {
  float: right;
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  padding: 5px 10px;
  border: solid 1px #333333;
  border-radius: 2px; }

span.incdicateur_distance {
  float: right;
  display: inline-block;
  font-size: 12px;
  padding: 5px 10px;
  border: solid 1px #333333;
  border-radius: 2px;
  font-weight: 700;
  margin-right: 5px; }

.login-page {
  margin: 100px 0;
  padding: 0 15px;
  background-color: #fff;
  box-shadow: 0 15px 10px -5px rgba(0, 0, 0, 0.7); }
  .login-page .logo {
    margin-bottom: 40px; }
  .login-page .page-title {
    margin-bottom: 30px; }
  .login-page .col-md-3 {
    padding: 40px 15px 100px;
    color: #333333; }
  .login-page .col-md-9 {
    padding: 40px 15px 20px; }
  .login-page .welcome-message {
    font-size: 13px; }
  .login-page .registration-form {
    border-right: solid 2px #dfdfdf;
    position: relative; }
  .login-page .registration-form:after {
    content: 'Ou';
    position: absolute;
    display: block;
    width: 60px;
    padding: 10px 0;
    background-color: #fff;
    text-align: center;
    right: -30px;
    font-weight: 700;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .login-page form {
    padding: 0 15px 30px;
    width: 100%;
    font-size: 13px; }
    .login-page form .form-title {
      margin-bottom: 50px; }
    .login-page form .submit_button {
      background-color: #868686;
      color: #fff;
      display: inline-block;
      margin: 20px 0;
      margin-right: 15px;
      border: none;
      padding: 10px 20px; }
    .login-page form label {
      display: none; }
    .login-page form .form_input {
      display: block;
      width: 100%;
      border: none;
      border-bottom: solid 2px #b9b9b9;
      height: 40px;
      padding: 5px;
      margin-bottom: 8px; }
    .login-page form .form_input::-webkit-input-placeholder {
      color: #4d4d4d;
      font-weight: 700; }

@media (max-width: 1365px) {
  #google-map .etablissements {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 100px;
    opacity: 1;
    z-index: 100; }
    #google-map .etablissements .etablissement {
      position: relative;
      background-color: #fff;
      overflow: hidden;
      margin: 1px 0;
      cursor: pointer; }
      #google-map .etablissements .etablissement .photo_etablissement {
        float: left;
        margin-right: 8px; }
      #google-map .etablissements .etablissement .details_etablissement {
        font-size: 12px;
        margin-left: 5px;
        padding: 5px; }
        #google-map .etablissements .etablissement .details_etablissement .nom_etablissement {
          font-weight: 700;
          font-size: 13px;
          margin-bottom: 5px; }
        #google-map .etablissements .etablissement .details_etablissement .quartier_etablissement {
          font-style: italic; } }
@media (min-width: 768px) and (max-width: 991px) {
  .navbar.fixed form .col-sm-5,
  .navbar.fixed form .col-sm-6,
  .navbar.fixed form .col-sm-7 {
    position: relative; }
    .navbar.fixed form .col-sm-5 .check-button,
    .navbar.fixed form .col-sm-6 .check-button,
    .navbar.fixed form .col-sm-7 .check-button {
      font-size: 0; }
  .navbar.fixed form > .row {
    margin-left: -1px;
    margin-right: -1px; }
    .navbar.fixed form > .row .col-sm-7,
    .navbar.fixed form > .row .col-sm-5,
    .navbar.fixed form > .row .col-sm-2 {
      padding: 1px; } }
@media (max-width: 767px) {
  header #top-nav-menu .nav-contact {
    clear: both;
    margin-bottom: 10px; }
    header #top-nav-menu .nav-contact li {
      float: left;
      margin-right: 15px; }
  header #top-nav-menu .nav-social-media {
    float: left; }
    header #top-nav-menu .nav-social-media li {
      float: left;
      margin-left: 15px; }
  header #top-nav-menu .social-icon {
    font-size: 12px; }
  header #top-nav-menu .button {
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase; }
  header .navbar {
    margin: 0; }
    header .navbar .icon-bar {
      background-color: #dfdfdf; }
    header .navbar .logo {
      margin-left: 15px; }
    header .navbar .navbar-toggle {
      margin-top: 15px; }
    header .navbar .navbar-nav {
      float: none; }
  header .navbar.fixed {
    /*position: relative;*/ }
    header .navbar.fixed .navbar-header {
      float: none; }
    header .navbar.fixed .navs {
      float: none;
      width: 100%; }
      header .navbar.fixed .navs a {
        padding-top: 5px !important;
        padding-bottom: 5px !important; }

  .search_bar form .form_input {
    flex-direction: column; }

  .navbar.fixed form .form_input {
    display: block; }
    .navbar.fixed form .form_input input[type=text] {
      border: none;
      flex-grow: inherit;
      padding: 10px;
      width: 100%; }
    .navbar.fixed form .form_input label {
      margin: 0;
      flex-grow: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 8px; }
      .navbar.fixed form .form_input label input {
        margin: 0; }
  .navbar.fixed form .submit_button {
    border-radius: 0;
    padding: 8px; }
  .navbar.fixed form > .row {
    margin-left: -15px;
    margin-right: -15px; }
    .navbar.fixed form > .row .col-sm-7,
    .navbar.fixed form > .row .col-sm-5,
    .navbar.fixed form > .row .col-sm-2 {
      padding-left: inherit;
      padding-right: inherit; }

  .body .main-body .popular-tags .section-body .popular-tag {
    width: 45%; }
    .body .main-body .popular-tags .section-body .popular-tag a {
      display: block;
      color: #666666;
      padding: 2px; }
  .body .main-body .popular-tags .section-body .popular-tag:before {
    content: '\f105';
    font-family: "FontAwesome", sans-serif;
    position: absolute;
    left: -8px;
    top: 2px; }
  .body .main-body .section.section-slider .section-title {
    float: left; }
  .body .main-body .section.section-slider .section-body {
    padding: 0;
    /*end of articles*/ }
    .body .main-body .section.section-slider .section-body .articles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .body .main-body .section.section-slider .section-body .articles a {
        position: relative;
        width: 50%;
        padding: 0 1%;
        margin-bottom: 15px; }
        .body .main-body .section.section-slider .section-body .articles a .article_picture_frame {
          position: relative;
          width: 100%;
          height: 200px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center; }
        .body .main-body .section.section-slider .section-body .articles a .article_title {
          color: #333333;
          font-weight: 700;
          margin: 5px 0 8px; }
        .body .main-body .section.section-slider .section-body .articles a .article_abstract {
          font-size: 12px;
          color: #666666;
          height: 100px;
          overflow: hidden; }
    .body .main-body .section.section-slider .section-body .top-category {
      text-align: center; }
      .body .main-body .section.section-slider .section-body .top-category a {
        display: inline-block;
        padding: 15px;
        position: relative; }
        .body .main-body .section.section-slider .section-body .top-category a .top_category_picture_frame {
          overflow: hidden;
          height: 140px;
          display: flex;
          justify-content: center;
          align-items: center; }
        .body .main-body .section.section-slider .section-body .top-category a .top_category_name {
          margin: 10px 0;
          text-transform: uppercase;
          font-weight: 700;
          color: #4d4d4d; }
  .body .main-body .publicite {
    text-align: center;
    padding: 15px 0;
    margin: 15px 0; }
    .body .main-body .publicite .placeholder {
      height: 130px;
      width: 80%;
      margin: 0 auto;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
      line-height: 130px;
      background-color: #666666; }

  .page-banner .container .page-title small {
    display: block; }

  .login-page {
    margin: 0; }
    .login-page .logo {
      display: none; }
    .login-page .col-md-3 {
      padding: 40px 15px; }
    .login-page .registration-form {
      border-right: none;
      border-bottom: solid 2px #dfdfdf;
      margin-bottom: 50px; }
    .login-page .registration-form:after {
      right: 50%;
      bottom: -40px;
      top: auto;
      -webkit-transform: translate(50%, -20px);
      -moz-transform: translate(50%, -20px);
      -o-transform: translate(50%, -20px);
      -ms-transform: translate(50%, -20px);
      transform: translate(50%, -20px); }
    .login-page form {
      padding: 0 15px 30px;
      width: 100%;
      font-size: 13px; }
      .login-page form .form-title {
        margin-bottom: 50px; }
      .login-page form .submit_button {
        background-color: #868686;
        color: #fff;
        display: inline-block;
        margin: 20px 0;
        margin-right: 15px;
        border: none;
        padding: 10px 20px; }
      .login-page form label {
        display: none; }
      .login-page form .form_input {
        display: block;
        width: 100%;
        border: none;
        border-bottom: solid 2px #b9b9b9;
        height: 40px;
        padding: 5px;
        margin-bottom: 8px; }
      .login-page form .form_input::-webkit-input-placeholder {
        color: #4d4d4d;
        font-weight: 700; }

  .page-404 .container .content {
    width: 100%; }
  .page-404 .container .h1 {
    font-size: 6em; }

  .page-etablissement .social-sharing {
    overflow: hidden; }
    .page-etablissement .social-sharing ul {
      list-style: none;
      overflow: hidden;
      float: left; }
      .page-etablissement .social-sharing ul li {
        float: left;
        margin: 5px; }
        .page-etablissement .social-sharing ul li a {
          color: #4d4d4d;
          display: block;
          width: 35px;
          padding: 10px 0;
          text-align: center;
          background-color: #dfdfdf;
          border-radius: 100%;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        .page-etablissement .social-sharing ul li a:hover {
          background-color: #868686;
          color: #fff; }
    .page-etablissement .social-sharing .incdicateur_ouverture {
      float: right;
      padding: 5px 15px;
      border: solid 1px #333333;
      color: #333333;
      text-transform: uppercase;
      border-radius: 2px; }
  .page-etablissement .section .logo_etablissement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 225px;
    overflow: hidden; }
  .page-etablissement .section .sub-section-title {
    font-weight: 700;
    color: #4d4d4d;
    margin-bottom: 10px; }
  .page-etablissement .section p {
    font-size: 13px; }
  .page-etablissement .section ul.contact {
    font-size: 13px;
    margin: 0;
    padding: 0;
    list-style: none; }
    .page-etablissement .section ul.contact li {
      margin: 5px 0; }
    .page-etablissement .section ul.contact li:before {
      font-family: "FontAwesome", sans-serif;
      color: #4d4d4d;
      display: inline-block;
      width: 20px;
      text-align: center;
      margin-right: 15px; }
    .page-etablissement .section ul.contact li.telephone:before {
      content: '\f095'; }
    .page-etablissement .section ul.contact li.email:before {
      content: '\f1fa'; }
    .page-etablissement .section ul.contact li.website:before {
      content: '\f0ac'; }
    .page-etablissement .section ul.contact li.facebook:before {
      content: '\f09a'; }
    .page-etablissement .section ul.contact li.linkedin:before {
      content: '\f0e1'; }
    .page-etablissement .section ul.contact li.twitter:before {
      content: '\f099'; }
    .page-etablissement .section ul.contact li.instagram:before {
      content: '\f16d'; }
  .page-etablissement .section ul.tags {
    list-style: none;
    font-size: 11px; }
    .page-etablissement .section ul.tags li {
      display: inline-block;
      vertical-align: top;
      padding: 2px 10px;
      margin: 0 2px 5px 0;
      border-radius: 2px;
      border: solid 1px #868686;
      cursor: pointer;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .page-etablissement .section ul.tags li:hover {
      background-color: #666666;
      color: #fff; }
  .page-etablissement .section ul.horaires {
    font-size: 12px; }
    .page-etablissement .section ul.horaires .jour {
      display: inline-block;
      width: 100px; }
  .page-etablissement .section ul.paiements {
    font-size: 12px; }
    .page-etablissement .section ul.paiements li {
      display: inline-block;
      text-align: center;
      margin: 0 15px 5px 0; }
  .page-etablissement .event_list .article {
    position: relative;
    padding-left: 17px;
    padding-bottom: 30px; }
    .page-etablissement .event_list .article .article_picture_frame {
      height: 225px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px; }
    .page-etablissement .event_list .article .event_date {
      padding: 2px 10px;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      position: absolute;
      top: 15px;
      left: 0;
      z-index: 2; }
      .page-etablissement .event_list .article .event_date .date {
        float: left;
        margin: 0 5px; }
      .page-etablissement .event_list .article .event_date .day {
        display: block;
        border-bottom: solid 2px #f8f8f8;
        font-size: 16px; }
      .page-etablissement .event_list .article .event_date .month {
        font-size: 10px; }
    .page-etablissement .event_list .article .article_title {
      color: #333333;
      font-weight: 700;
      font-size: 13px; }
    .page-etablissement .event_list .article .article_location,
    .page-etablissement .event_list .article .annonceur {
      color: #666666;
      font-size: 13px; }
    .page-etablissement .event_list .article .annonceur {
      font-weight: 700; }
    .page-etablissement .event_list .article .event_date:before {
      content: '';
      display: inline-block;
      width: 13px;
      height: 13px;
      border: solid 13px transparent;
      border-left: solid 13px #b9b9b9;
      position: absolute;
      left: 5px;
      bottom: -13px;
      z-index: 1;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .page-etablissement .liste-etablissements .col-sm-4 {
    padding-left: 15px; } }
@media (max-width: 640px) {
  .body .main-body .section.section-slider .section-body .articles {
    display: block; }
    .body .main-body .section.section-slider .section-body .articles a .article_title {
      color: #333333;
      font-weight: 700;
      margin: 5px 0 8px; }
    .body .main-body .section.section-slider .section-body .articles a .article_abstract {
      font-size: 12px;
      color: #666666;
      height: 100px;
      overflow: hidden; } }
@media (max-width: 480px) {
  #page-category {
    display: block; }
    #page-category .category {
      width: 100%;
      margin: 0 0 10px;
      height: 200px; } }

/*# sourceMappingURL=style.css.map */
